NODE_ENV=development
PORT=3000
API_PREFIX=api

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

GOOGLE_CLIENT_ID=

STORAGE_PROVIDER=s3
STORAGE_BUCKET=worko-private
STORAGE_REGION=ap-south-1
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=